<html ng-app="helloWorld">
  <head>
    <title>Hello World</title>
    <script src="lib/angular/angular.js"></script>
    <script>
      angular.module("helloWorld", []); //cria o modulo - pode setar numa var
      angular.module("helloWorld").controller("helloWorldCrtl", function ($scope) {
        $scope.message = "Hello World";
      }); //localiza o modulo
    </script>
  </head>
  <body>
    <div np-controller="helloWorldCrtl">
      {{message}}
    </div>

  </body>
</html>
