<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="utf-8">
    <title>lista telefonica</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <style>
      .jumbotron {
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-top: 20px;
        margin-right: auto;
      }
      .table {
        margin-top: 20px;
      }
      .form-control {
        margin-bottom: 5px;
      }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
      angular.module("listaTelefonica", []);
      angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
        $scope.app="Lista Telefonica";
        $scope.contatos = [
              {nome: "Pedro", telefone: "9999-9999"},
              {nome: "Ana", telefone: "2333-3333"},
              {nome: "Maria", telefone: "3433-3433"}
            ];
        $scope.adicionarContato = function(contato) {
          $scope.contatos.push(contato);
        };
      });
    </script>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
      <h3>{{app}}</h3>
      <table class="table table-striped">
        <tr>
          <th>Nome</th>
          <th>telefone</th>
        </tr>
        <tr ng-repeat="contato in contatos">
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
        </tr>
      </table>
      <input class="form-control" type="text" ng-model="contato.nome" placeholder="nome"/>
      <input class="form-control" type="text" ng-model="contato.telefone" placeholder="telefone">
      <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
    </div>
  </body>
</html>
